## Text to MySQL Queries

- Building Q&A systems of SQL databases requires executing model-generated SQL queries
- Make sure your database have only Read-Only access to prevent any data loss
- We will use employee database to demonstrate the queries

In [5]:
# !pip install pymysql

In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from langchain_ollama import ChatOllama

In [3]:
llm = ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434')

In [4]:
from langchain_community.utilities import SQLDatabase
import os

In [5]:
db = SQLDatabase.from_uri(database_uri=f"mysql+pymysql://{os.environ['MYSQL_USER']}:{os.environ['MYSQL_PASSWORD']}@localhost/employees")

In [6]:
db.get_usable_table_names()

['employees']

In [7]:
db.run("SELECT * FROM employees LIMIT 5")

"[(1, datetime.date(1980, 10, 21), 'Aaron', 'Johnson', 'F', datetime.date(1991, 2, 17)), (2, datetime.date(1981, 1, 18), 'Caitlin', 'Arnold', 'M', datetime.date(1982, 10, 31)), (3, datetime.date(1950, 1, 19), 'Brandi', 'Jacobs', 'F', datetime.date(2004, 7, 14)), (4, datetime.date(1956, 8, 6), 'Jack', 'Jacobson', 'F', datetime.date(2012, 1, 22)), (5, datetime.date(1962, 1, 12), 'Crystal', 'Woods', 'F', datetime.date(1984, 3, 16))]"

### SQL Query Chains

- convert the question into a SQL query;
- execute the query;
- use the result to answer the original question.

In [15]:
from langchain.chains import create_sql_query_chain

In [16]:
sql_chain = create_sql_query_chain(llm=llm, db=db)

In [17]:
sql_chain

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for (k, v) in x.items() if k not in ('question', 'table_names_to_use')})
| PromptTemplate(input_variables=['input', 'table_info'], input_types={}, partial_variables={'top_k': '5'}, template='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434'), kwargs={'stop': ['\nSQLResult:']}, config={}, config_factories=[])
| StrOutputParser()
| RunnableLambda(_strip)

In [22]:
sql_chain.get_prompts()[0].pretty_print()

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [29]:
question = "how many employees are there? You MUST RETURN ONLY MYSQL QUERIES."
response = sql_chain.invoke({'question': question})
print(response)

Answer: There are 3 employees.

SQLQuery:
SELECT COUNT(*)
FROM `employees`

### Extract Correct Query from LLM

In [25]:
from scripts import ask_llm
from langchain_core.runnables import chain

In [26]:
@chain
def get_correct_sql_query(input):
    context = input['context']
    question = input['question']

    intruction = f"""
        Use above context to fetch the correct SQL query for following question
        {question}

        Do not enclose query in ```sql and do not write preamble and explanation.
        You MUST return only single SQL query.
    """

    response = ask_llm(context=context, question=intruction)

    return response

In [30]:
response = get_correct_sql_query.invoke({'context': response, 'question': question})
response

'SELECT COUNT(*) FROM `employees`'

In [31]:
db.run(response)

'[(1000,)]'

### Final SQL Query Chain

In [34]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from langchain_core.runnables import RunnablePassthrough

In [33]:
query_executor = QuerySQLDataBaseTool(db=db)
sql_chain = create_sql_query_chain(llm=llm,db=db)

In [35]:
final_chain = (
    {'context': sql_chain, 'question': RunnablePassthrough()}
    |get_correct_sql_query
    |query_executor
)

In [36]:
question = "how many employees are there? You MUST RETURN ONLY MYSQL QUERIES."

response = final_chain.invoke({'question': question})

In [37]:
response

'[(1000,)]'

### MySQL Query Execution with Agents with LangGraph

- It can answer questions based on the databases' schema as well as on the databases' content (like describing a specific table).
- It can recover from errors by running a generated query, catching the traceback and regenerating it correctly.
- It can query the database as many times as needed to answer the user question.
- It will save tokens by only retrieving the schema from relevant tables.

In [38]:
%pip install -Uq langgraph

Note: you may need to restart the kernel to use updated packages.

In [8]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

In [9]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()
tools

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001C75F1F3E20>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001C75F1F3E20>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001C75F1F3E20>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000001C75F1F3E20>, llm=ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434'), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434'), output_parser=StrOutputParser(), llm_kwargs={}))]

In [10]:
from langchain_core.messages import SystemMessage,HumanMessage

SQL_PREFIX = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables."""

system_message = SystemMessage(content=SQL_PREFIX)

In [11]:
from langgraph.prebuilt import create_react_agent


agent_executor = create_react_agent(llm, tools, state_modifier=system_message, debug=False)

In [12]:
# question = "How many employees are there?"
question = "How many male and female employees are there ?"

response = agent_executor.invoke({"messages": [HumanMessage(content=question)]})

In [13]:
response

{'messages': [HumanMessage(content='How many male and female employees are there ?', additional_kwargs={}, response_metadata={}, id='ba8fd790-9ea1-4f9d-b1e8-d090fd458d4f'),
  AIMessage(content='', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-25T10:42:43.7881179Z', 'message': {'role': 'assistant', 'content': '', 'tool_calls': [{'function': {'name': 'sql_db_schema', 'arguments': {'table_names': 'employee'}}}, {'function': {'name': 'sql_db_query_checker', 'arguments': {'query': 'SELECT gender, COUNT(*) FROM employee GROUP BY gender'}}}, {'function': {'name': 'sql_db_query', 'arguments': {'query': 'SELECT gender, COUNT(*) FROM employee GROUP BY gender'}}}]}, 'done_reason': 'stop', 'done': True, 'total_duration': 1861088200, 'load_duration': 42086800, 'prompt_eval_count': 719, 'prompt_eval_duration': 317000000, 'eval_count': 74, 'eval_duration': 1493000000}, id='run-3c6d94a5-44de-414f-ae40-b3723785bbf0-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'employee'}, 'id': '9def4a86-b631-4fdc-90bd-fff54a927ba0', 'type': 'tool_call'}, {'name': 'sql_db_query_checker', 'args': {'query': 'SELECT gender, COUNT(*) FROM employee GROUP BY gender'}, 'id': 'd592d86c-0e3a-4bb0-8dab-055b4a44ebab', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': 'SELECT gender, COUNT(*) FROM employee GROUP BY gender'}, 'id': '5f970671-d814-4508-8a06-b42bd5e43fb1', 'type': 'tool_call'}], usage_metadata={'input_tokens': 719, 'output_tokens': 74, 'total_tokens': 793}),
  ToolMessage(content="Error: table_names {'employee'} not found in database", name='sql_db_schema', id='6918b5cb-7243-448a-bfad-9f5d942d22e4', tool_call_id='9def4a86-b631-4fdc-90bd-fff54a927ba0'),
  ToolMessage(content='SELECT gender, COUNT(*) FROM employee GROUP BY gender', name='sql_db_query_checker', id='b6970796-cd49-4c45-ab71-d7fbdb254195', tool_call_id='d592d86c-0e3a-4bb0-8dab-055b4a44ebab'),
  ToolMessage(content='Error: (pymysql.err.ProgrammingError) (1146, "Table \'employees.employee\' doesn\'t exist")\n[SQL: SELECT gender, COUNT(*) FROM employee GROUP BY gender]\n(Background on this error at: https://sqlalche.me/e/20/f405)', name='sql_db_query', id='12a3e562-da85-4edd-9755-82579c5d935d', tool_call_id='5f970671-d814-4508-8a06-b42bd5e43fb1'),
  AIMessage(content='', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-25T10:42:45.302924Z', 'message': {'role': 'assistant', 'content': '', 'tool_calls': [{'function': {'name': 'sql_db_schema', 'arguments': {'table_names': 'employees'}}}, {'function': {'name': 'sql_db_query_checker', 'arguments': {'query': 'SELECT * FROM employees'}}}]}, 'done_reason': 'stop', 'done': True, 'total_duration': 1223683200, 'load_duration': 26727700, 'prompt_eval_count': 448, 'prompt_eval_duration': 37000000, 'eval_count': 60, 'eval_duration': 1149000000}, id='run-6a05fa31-83df-4232-9ae7-3330ef006afe-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'employees'}, 'id': '0c6b27a7-b7d0-4ebf-a0b2-6c98f494340e', 'type': 'tool_call'}, {'name': 'sql_db_query_checker', 'args': {'query': 'SELECT * FROM employees'}, 'id': 'b9137cc3-1241-4d88-8e3c-7957ef18c778', 'type': 'tool_call'}], usage_metadata={'input_tokens': 448, 'output_tokens': 60, 'total_tokens': 508}),
  ToolMessage(content="\nCREATE TABLE employees (\n\temp_no INTEGER NOT NULL AUTO_INCREMENT, \n\tbirth_date DATE NOT NULL, \n\tfirst_name VARCHAR(50) NOT NULL, \n\tlast_name VARCHAR(50) NOT NULL, \n\tgender ENUM('M','F') NOT NULL, \n\thire_date DATE NOT NULL, \n\tPRIMARY KEY (emp_no)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from employees table:\nemp_no\tbirth_date\tfirst_name\tlast_name\tgender\thire_date\n1\t1980-10-21\tAaron\tJohnson\tF\t1991-02-17\n2\t1981-01-18\tCaitlin\tArnold\tM\t1982-10-31\n3\t1950-01-19\tBrandi\tJacobs\tF\t2004-07-14\n*/", name='sql_db_schema', id='97502434-fc9f-4dec-89b1-852bb752418a', tool_call_id='0c6b27a7-b7d0-4ebf-a0b2-6c98f494340e'),
  ToolMessage(content='SELECT * FROM employees', name='sql_db_query_checker', id='0ae26717-21f8-4bee-9abf-9f7c6d00d571', tool_call_id='b9137cc3-1241-4d88-8e3c-7957ef18c778'),
  AIMessage(content='There are 1 male and 2 female employees.', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-25T10:42:46.0515985Z', 'message': {'role': 'assistant', 'content': 'There are 1 male and 2 female employees.'}, 'done_reason': 'stop', 'done': True, 'total_duration': 581373900, 'load_duration': 19086300, 'prompt_eval_count': 682, 'prompt_eval_duration': 278000000, 'eval_count': 12, 'eval_duration': 264000000}, id='run-75c8d94b-b664-4bfc-a9a5-6ddaeb7d5465-0', usage_metadata={'input_tokens': 682, 'output_tokens': 12, 'total_tokens': 694})]}

In [14]:
print(response['messages'][-1].content)

There are 1 male and 2 female employees.

In [16]:
question = "How many employees are there ?"

response = agent_executor.invoke({"messages": [HumanMessage(content=question)]})
print(response['messages'][-1].content)

There are 3 employees in the database.

In [17]:
for s in agent_executor.stream(
    {"messages": [HumanMessage(content=question)]}
):
    print(s)
    print("----")

{'agent': {'messages': [AIMessage(content='', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-25T10:45:30.5599751Z', 'message': {'role': 'assistant', 'content': '', 'tool_calls': [{'function': {'name': 'sql_db_list_tables', 'arguments': {}}}, {'function': {'name': 'sql_db_schema', 'arguments': {'table_names': 'employee'}}}, {'function': {'name': 'sql_db_query_checker', 'arguments': {'query': 'SELECT COUNT(*) FROM employee'}}}, {'function': {'name': 'sql_db_query', 'arguments': {'query': 'SELECT COUNT(*) FROM employee'}}}]}, 'done_reason': 'stop', 'done': True, 'total_duration': 1630308200, 'load_duration': 38549800, 'prompt_eval_count': 716, 'prompt_eval_duration': 43000000, 'eval_count': 79, 'eval_duration': 1545000000}, id='run-48ae34c7-9f46-4efc-9a07-d7b4918368f2-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {}, 'id': '6b93a68f-6fc1-4fa8-abcb-ac9ca151dc51', 'type': 'tool_call'}, {'name': 'sql_db_schema', 'args': {'table_names': 'employee'}, 'id': '6f2785cc-f428-4bb7-ad05-f3c0eebba2a7', 'type': 'tool_call'}, {'name': 'sql_db_query_checker', 'args': {'query': 'SELECT COUNT(*) FROM employee'}, 'id': '78c5400f-a08a-4d04-81d9-6b0daca84078', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': 'SELECT COUNT(*) FROM employee'}, 'id': '24511f10-7095-4122-9e9f-cf26ab9018fd', 'type': 'tool_call'}], usage_metadata={'input_tokens': 716, 'output_tokens': 79, 'total_tokens': 795})]}}
----
{'tools': {'messages': [ToolMessage(content='employees', name='sql_db_list_tables', id='836ae155-1e0c-4042-a8ea-bfa343ca5f3c', tool_call_id='6b93a68f-6fc1-4fa8-abcb-ac9ca151dc51'), ToolMessage(content="Error: table_names {'employee'} not found in database", name='sql_db_schema', id='99271abd-c61f-4ce6-84f3-a4e4ebd9b950', tool_call_id='6f2785cc-f428-4bb7-ad05-f3c0eebba2a7'), ToolMessage(content='SELECT COUNT(*) FROM employee', name='sql_db_query_checker', id='ef5f380a-6e5c-4f18-85a4-c85b0b56799e', tool_call_id='78c5400f-a08a-4d04-81d9-6b0daca84078'), ToolMessage(content='Error: (pymysql.err.ProgrammingError) (1146, "Table \'employees.employee\' doesn\'t exist")\n[SQL: SELECT COUNT(*) FROM employee]\n(Background on this error at: https://sqlalche.me/e/20/f405)', name='sql_db_query', id='df2a6cb9-5e50-4461-acad-ad2a471b6711', tool_call_id='24511f10-7095-4122-9e9f-cf26ab9018fd')]}}
----
{'agent': {'messages': [AIMessage(content='', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-25T10:45:32.015301Z', 'message': {'role': 'assistant', 'content': '', 'tool_calls': [{'function': {'name': 'sql_db_schema', 'arguments': {'table_names': 'employees'}}}, {'function': {'name': 'sql_db_query', 'arguments': {'query': 'SELECT COUNT(*) FROM employees'}}}]}, 'done_reason': 'stop', 'done': True, 'total_duration': 1239277000, 'load_duration': 37307100, 'prompt_eval_count': 441, 'prompt_eval_duration': 43000000, 'eval_count': 58, 'eval_duration': 1149000000}, id='run-7566c0f4-380c-45aa-af18-ac9b8aa34ad1-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'employees'}, 'id': 'd180731e-bfaa-4a03-847a-72a1510e5661', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': 'SELECT COUNT(*) FROM employees'}, 'id': '6f3b54e3-ae80-48e0-be17-81802003cac8', 'type': 'tool_call'}], usage_metadata={'input_tokens': 441, 'output_tokens': 58, 'total_tokens': 499})]}}
----
{'tools': {'messages': [ToolMessage(content="\nCREATE TABLE employees (\n\temp_no INTEGER NOT NULL AUTO_INCREMENT, \n\tbirth_date DATE NOT NULL, \n\tfirst_name VARCHAR(50) NOT NULL, \n\tlast_name VARCHAR(50) NOT NULL, \n\tgender ENUM('M','F') NOT NULL, \n\thire_date DATE NOT NULL, \n\tPRIMARY KEY (emp_no)\n)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from employees table:\nemp_no\tbirth_date\tfirst_name\tlast_name\tgender\thire_date\n1\t1980-10-21\tAaron\tJohnson\tF\t1991-02-17\n2\t1981-01-18\tCaitlin\tArnold\tM\t1982-10-31\n3\t1950-01-19\tBrandi\tJacobs\tF\t2004-07-14\n*/", name='sql_db_schema', id='2766f840-d430-4032-81c2-c1fd5541a282', tool_call_id='d180731e-bfaa-4a03-847a-72a1510e5661'), ToolMessage(content='[(1000,)]', name='sql_db_query', id='c29edd0d-dc39-4bfa-b04d-0cdd88e5bf19', tool_call_id='6f3b54e3-ae80-48e0-be17-81802003cac8')]}}
----
{'agent': {'messages': [AIMessage(content='There are 1000 employees in the database.', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-25T10:45:32.4062041Z', 'message': {'role': 'assistant', 'content': 'There are 1000 employees in the database.'}, 'done_reason': 'stop', 'done': True, 'total_duration': 362777500, 'load_duration': 36276500, 'prompt_eval_count': 676, 'prompt_eval_duration': 24000000, 'eval_count': 11, 'eval_duration': 281000000}, id='run-5aed445e-0009-4e1c-89da-250b3e72f6e2-0', usage_metadata={'input_tokens': 676, 'output_tokens': 11, 'total_tokens': 687})]}}
----