# Announcement-on-ML
<a href='http://www.kgptalkie.com' target="_blank"> <img src='https://github.com/laxmimerit/Important-Announcement-on-ML/raw/master/kgptalkie_strips.png'/></a>

# ML Resources
|  ML Course | Description |
|:---|:---|
| [**Deploy LLM App with Ollama and Langchain in Production**](https://www.udemy.com/course/ollama-and-langchain/?referralCode=7F4C0C7B8CF223BA9327) | Master Langchain v0.3, Private Chatbot, Deploy LLM App.  Ollama, LLAMA, LLAMA 3.2, FAISS, RAG, Deploy RAG, Gen AI, LLM|
| [**Fine Tuning LLM with HuggingFace Transformers for NLP**](https://www.udemy.com/course/fine-tuning-llm-with-hugging-face-transformers/?referralCode=6DEB3BE17C2644422D8E) | Learn how to fine tune LLM with custom dataset. You will learn basics of transformers then fine tune LLM|
| [**Data Visualization in Python Masterclassâ„¢: Beginners to Pro**](https://bit.ly/udemy95off_kgptalkie) |  Learn to build Machine Learning and Deep Learning models using Python and its libraries like Scikit-Learn, Keras, and TensorFlow. |
| [**Python for Machine Learning: A Step-by-Step Guide**](https://bit.ly/ml-ds-project) | Learn to build Machine Learning and Deep Learning models using Python and its libraries like Scikit-Learn, Keras, and TensorFlow. |
| [**Deep Learning for Beginners with Python**](https://bit.ly/dl-with-python) | Neural Networks, TensorFlow, ANN, CNN, RNN, LSTM, Transfer Learning and Much More. |
| [**Python for Linear Regression in Machine Learning**](https://bit.ly/regression-python) | Learn to build Linear Regression models using Python and its libraries like Scikit-Learn. |
| [**Introduction to Spacy 3 for Natural Language Processing**](https://bit.ly/spacy-intro) | Learn to build Natural Language Processing models using Python and its libraries like Spacy. |
| [**Advanced Machine Learning and Deep Learning Projects**](https://bit.ly/kgptalkie_ml_projects) | Learn to build Advanced Machine Learning and Deep Learning models using Python and transformer models like BERT, GPT-2, and XLNet. |
| [**Natural Language Processing in Python for Beginners**](https://bit.ly/intro_nlp) | Learn to build Natural Language Processing Projects using Spacy, NLTK, and Gensim, and transformer models like BERT, GPT-2, and XLNet. |
| [**Deployment of Machine Learning Models in Production in Python**](https://bit.ly/bert_nlp) |  Learn to deploy Machine Learning and Deep Learning models using Python and its libraries like Flask, Streamlit, and NGINX. |
| [**R 4.0 Programming for Data Science - Beginners to Pro**](https://bit.ly/r4-ml) | Learn to build Machine Learning and Deep Learning models using R and its libraries like caret, tidyverse, and keras. |

## Text to MySQL Queries

- Building Q&A systems of SQL databases requires executing model-generated SQL queries
- Make sure your database have only Read-Only access to prevent any data loss
- We will use employee database to demonstrate the queries

In [1]:
from dotenv import load_dotenv
import os

os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

load_dotenv()

True

In [2]:
from langchain_ollama import ChatOllama 
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough 
from langchain_core.prompts import ChatPromptTemplate

from langchain_core.tools import tool


llm = ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434')
llm.invoke('hi')

AIMessage(content='How can I assist you today?', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-01T11:44:58.9898944Z', 'message': {'role': 'assistant', 'content': ''}, 'done_reason': 'stop', 'done': True, 'total_duration': 2598877600, 'load_duration': 2332913500, 'prompt_eval_count': 26, 'prompt_eval_duration': 90378000, 'eval_count': 8, 'eval_duration': 169695000}, id='run-548d4144-33a0-4645-a6ea-186f5b707ce1-0', usage_metadata={'input_tokens': 26, 'output_tokens': 8, 'total_tokens': 34})

In [3]:
# !pip install pymysql

from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("mysql+pymysql://root:root@localhost/employees")

In [7]:
db.dialect
db.get_usable_table_names()

db.run("SELECT * FROM employees LIMIT 5")

"[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26)), (10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21)), (10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28)), (10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1)), (10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))]"

### SQL Query Chains

- convert the question into a SQL query;
- execute the query;
- use the result to answer the original question.

In [25]:
from langchain.chains import create_sql_query_chain

sql_chain = create_sql_query_chain(llm, db)

In [26]:
sql_chain.get_prompts()[0].pretty_print()

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [27]:
sql_chain

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for k, v in x.items() if k not in ('question', 'table_names_to_use')})
| PromptTemplate(input_variables=['input', 'table_info'], input_types={}, partial_variables={'top_k': '5'}, template='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434'), kwargs={'stop': ['\nSQLResult:']}, config={}, config_factories=[])
| StrOutputParser()
| RunnableLambda(_strip)

In [33]:
question = "how many employees are there? You MUST RETURN ONLY MYSQL QUERIES."
response = sql_chain.invoke({'question': question})
print(response)

Answer: There are 3 employees.

SQLQuery:
SELECT COUNT(*) FROM employees

### Extract Correct Query from LLM

In [34]:
from scripts.llm import ask_llm
from langchain_core.runnables import chain

In [35]:
@chain
def get_correct_sql_query(input):
    context = input['context']
    question = input['question']

    intruction = """
        Use above context to fetch the correct SQL query for following question
        {}

        Do not enclose query in ```sql and do not write preamble and explanation.
        You MUST return only single SQL query.
    """.format(question)

    response = ask_llm(context=context, question=intruction)

    return response

In [37]:
response = get_correct_sql_query.invoke({'context': response, 'question': question})

In [38]:
db.run(response)

'[(300024,)]'

### Final SQL Query Chain

In [39]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

In [41]:
execute_query = QuerySQLDataBaseTool(db=db)
sql_query = create_sql_query_chain(llm, db)

final_chain = (
    {'context': sql_query, 'question': RunnablePassthrough()}
    | get_correct_sql_query
    | execute_query
)

In [42]:
question = "how many employees are there? You MUST RETURN ONLY MYSQL QUERIES."

response = final_chain.invoke({'question': question})
print(response)

[(300024,)]

In [ ]:
# SELECT COUNT(*) FROM employees;

### MySQL Query Execution with Agents with LangGraph

- It can answer questions based on the databases' schema as well as on the databases' content (like describing a specific table).
- It can recover from errors by running a generated query, catching the traceback and regenerating it correctly.
- It can query the database as many times as needed to answer the user question.
- It will save tokens by only retrieving the schema from relevant tables.

In [43]:
# %pip install --upgrade --quiet langgraph

Note: you may need to restart the kernel to use updated packages.

The value specified in an AutoRun registry key could not be parsed.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [46]:
tools = toolkit.get_tools()
tools

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000024D0BB34D40>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000024D0BB34D40>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000024D0BB34D40>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000024D0BB34D40>, llm=ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434'), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOllama(model='llama3.2:3b', base_url='http://localhost:11434'), output_parser=StrOutputParser(), llm_kwargs={}))]

In [47]:
from langchain_core.messages import SystemMessage

SQL_PREFIX = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables."""

system_message = SystemMessage(content=SQL_PREFIX)

In [51]:
from langchain_core.messages import HumanMessage
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(llm, tools, state_modifier=system_message, debug=False)

In [52]:
question = "How many employees are there?"
# question = "How many departments are there?"

agent_executor.invoke({"messages": [HumanMessage(content=question)]})

{'messages': [HumanMessage(content='How many employees are there?', additional_kwargs={}, response_metadata={}, id='16af98e3-dcd8-44bb-b8d2-aafab4738a26'),
  AIMessage(content='', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-01T12:28:21.0987732Z', 'message': {'role': 'assistant', 'content': '', 'tool_calls': [{'function': {'name': 'sql_db_query_checker', 'arguments': {'query': 'SELECT COUNT(*) FROM employees'}}}, {'function': {'name': 'sql_db_query', 'arguments': {'query': 'SELECT COUNT(*) FROM employees'}}}, {'function': {'name': 'sql_db_schema', 'arguments': {'table_names': 'employees'}}}]}, 'done_reason': 'stop', 'done': True, 'total_duration': 2025148300, 'load_duration': 26406800, 'prompt_eval_count': 716, 'prompt_eval_duration': 329777000, 'eval_count': 64, 'eval_duration': 1661522000}, id='run-38cbf28c-2ff9-4891-a341-38a45499a3ec-0', tool_calls=[{'name': 'sql_db_query_checker', 'args': {'query': 'SELECT COUNT(*) FROM employees'}, 'id': 'ddb97c74-a1a2-46c1-9c35-54c057e217b4', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': 'SELECT COUNT(*) FROM employees'}, 'id': '10440c90-39e4-4822-b80f-03a1e8ebb9e4', 'type': 'tool_call'}, {'name': 'sql_db_schema', 'args': {'table_names': 'employees'}, 'id': 'ad5cf86f-847e-4aa2-8a6a-92d39e0ec602', 'type': 'tool_call'}], usage_metadata={'input_tokens': 716, 'output_tokens': 64, 'total_tokens': 780}),
  ToolMessage(content='SELECT COUNT(*) FROM employees', name='sql_db_query_checker', id='b8b5f48c-380c-43f4-9043-9627fb19b58e', tool_call_id='ddb97c74-a1a2-46c1-9c35-54c057e217b4'),
  ToolMessage(content='[(300024,)]', name='sql_db_query', id='8fd2f100-4ee0-46c3-bed9-1dd37ca76537', tool_call_id='10440c90-39e4-4822-b80f-03a1e8ebb9e4'),
  ToolMessage(content="\nCREATE TABLE employees (\n\temp_no INTEGER NOT NULL, \n\tbirth_date DATE NOT NULL, \n\tfirst_name VARCHAR(14) NOT NULL, \n\tlast_name VARCHAR(16) NOT NULL, \n\tgender ENUM('M','F') NOT NULL, \n\thire_date DATE NOT NULL, \n\tPRIMARY KEY (emp_no)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from employees table:\nemp_no\tbirth_date\tfirst_name\tlast_name\tgender\thire_date\n10001\t1953-09-02\tGeorgi\tFacello\tM\t1986-06-26\n10002\t1964-06-02\tBezalel\tSimmel\tF\t1985-11-21\n10003\t1959-12-03\tParto\tBamford\tM\t1986-08-28\n*/", name='sql_db_schema', id='cec1fe9a-82f9-49cc-97b5-8f35a51486a6', tool_call_id='ad5cf86f-847e-4aa2-8a6a-92d39e0ec602'),
  AIMessage(content='There are 300,024 employees in the database.', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-01T12:28:22.1431908Z', 'message': {'role': 'assistant', 'content': 'There are 300,024 employees in the database.'}, 'done_reason': 'stop', 'done': True, 'total_duration': 748596500, 'load_duration': 21728400, 'prompt_eval_count': 553, 'prompt_eval_duration': 444707000, 'eval_count': 12, 'eval_duration': 262552000}, id='run-d002be57-0cff-41d9-952c-36617bcaf009-0', usage_metadata={'input_tokens': 553, 'output_tokens': 12, 'total_tokens': 565})]}

In [53]:
for s in agent_executor.stream(
    {"messages": [HumanMessage(content=question)]}
):
    print(s)
    print("----")

{'agent': {'messages': [AIMessage(content='', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-01T12:28:23.0492342Z', 'message': {'role': 'assistant', 'content': '', 'tool_calls': [{'function': {'name': 'sql_db_query', 'arguments': {'query': 'SELECT COUNT(*) FROM employees'}}}]}, 'done_reason': 'stop', 'done': True, 'total_duration': 884946300, 'load_duration': 22490400, 'prompt_eval_count': 716, 'prompt_eval_duration': 352102000, 'eval_count': 22, 'eval_duration': 504891000}, id='run-50b853fe-ad1b-49e5-9f51-183d8ec502f5-0', tool_calls=[{'name': 'sql_db_query', 'args': {'query': 'SELECT COUNT(*) FROM employees'}, 'id': '89570cfb-530d-458d-9d09-5a4d5140ce5d', 'type': 'tool_call'}], usage_metadata={'input_tokens': 716, 'output_tokens': 22, 'total_tokens': 738})]}}
----
{'tools': {'messages': [ToolMessage(content='[(300024,)]', name='sql_db_query', id='7822fa62-8b11-4775-bfbd-e5581f83ad9a', tool_call_id='89570cfb-530d-458d-9d09-5a4d5140ce5d')]}}
----
{'agent': {'messages': [AIMessage(content='There are 300024 employees in the database.', additional_kwargs={}, response_metadata={'model': 'llama3.2:3b', 'created_at': '2024-11-01T12:28:23.3845003Z', 'message': {'role': 'assistant', 'content': 'There are 300024 employees in the database.'}, 'done_reason': 'stop', 'done': True, 'total_duration': 312670100, 'load_duration': 22021700, 'prompt_eval_count': 321, 'prompt_eval_duration': 56382000, 'eval_count': 11, 'eval_duration': 226316000}, id='run-353b2a36-269d-4a63-9dcd-c8082ec7080c-0', usage_metadata={'input_tokens': 321, 'output_tokens': 11, 'total_tokens': 332})]}}
----